@tailwind base;
@tailwind components;
@tailwind utilities;


.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .createpost{
    box-shadow: 0px 0px 1000px 20px #374151;
  }
